body {

    margin: 15px;
}

.trello-sak-link {
    float:right;
}
.trello-member-list {
    float:left;
    list-style-type: none;
    padding-start:0px;
    -webkit-padding-start: 0px;
}
li.trello-member {
    display:inline;
    font-weight:bold;
}
li.trello-member:first-child:before {
    content: "Ansvarlig: ";
    }
li.trello-member:after {
    content: ", ";
    }
li.trello-member:last-child:after {
    content: "";
    }
.trello-label-list {
    float:left;
    list-style-type: none;
    -webkit-margin-start: 0em;
    -webkit-padding-start: 0px;
}

.dato {
    text-transform: lowercase;
}


h1 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    border-bottom: solid 1px;
}
h3 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
        float: left;
    clear: both;
}
p {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

h2 {
    clear: both;
    font-size:18px;
    font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 18.4px;
    padding-top: 10px;
        float: left;
}

.frist {
    font-weight: bold;
    float: right;
    margin-top: 25px;
    margin-bottom: 0;
}

#statustext {
  padding-top: 10px;
}

.kortliste {
  vertical-align: top;
}
.beskrivelse {
    clear: both;
    float: left;
}

.trello-label {
    text-align: center;
    vertical-align: top;
    margin: 0 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;
    float: left;
}

.footer {
    clear: both;
    font-style: italic;
    font-size: .7em;
    padding-top: 2em;
}

.orange {
    background-color: orange;
}
.blue {
    background-color: blue;
    color: white;
}

.green {
    background-color: green;
    color: #f5f5f5;
}

.yellow {
    background-color: #ffff00;
}

.red {
    background-color: red;
    color: #f5f5f5;
}
.sky {
    background-color: #00c2e0;
    color: #fff;
}
.pink {
    background-color: #ff78cb;
    color: #fff;
}
.lime {
    background-color: #51e898;
    color: #fff;
}
.black {
    background-color: #4d4d4d;
    color: #fff;
}
.purple {
    background-color: #c377e0;
    color: #fff;
}
.null {
    background-color: #b6bbbf;
    color: #fff;
}
