body {

    margin: 15px;
}

.trello-sak-link {
    float:right;
}
.dato {
    text-transform: lowercase;
}

h2 {
    clear: both;
    border-bottom: solid 1px;
    /* margin-bottom: -10px; */
    padding-top: 25px;
}
h3 {
    float: left;
    clear: both;
}

.frist {
    font-weight: bold;
    float: right;
    margin-top: 25px;
    margin-bottom: 0;
}

#statustext {
  padding-top: 10px;
}

.kortliste {
  vertical-align: top;
}
.beskrivelse {
    clear: both;
    float: left;
}

.trello-label {
    text-align: center;
    vertical-align: top;
    margin: 0 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;

    float: right;
}

.footer {
    clear: both;
    font-style: italic;
    font-size: .7em;
    padding-top: 2em;
}

.orange {
    background-color: orange;
}
.blue {
    background-color: blue;
    color: white;
}

.green {
    background-color: green;
    color: #f5f5f5;
}

.yellow {
    background-color: #ffff00;
}

.red {
    background-color: red;
    color: #f5f5f5;
}
.sky {
    background-color: #00c2e0;
    color: #fff;
}
.pink {
    background-color: #ff78cb;
    color: #fff;
}
.lime {
    background-color: #51e898;
    color: #fff;
}
.black {
    background-color: #4d4d4d;
    color: #fff;
}
.purple {
    background-color: #c377e0;
    color: #fff;
}
.null {
    background-color: #b6bbbf;
    color: #fff;
}
